<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="first">
            <h1 id="header">POSTaasss!!</h1>
            <a class="anchor" href="http://localhost:3030/posts/new"> Create New Post</a>
        </div>

        <div class="second">
            <% for (post of posts){ %>
                <div class="content">
                    <h4 id="user">
                        <%= post.username %>
                    </h4>
                    <p>
                        <%= post.data %>
                    </p>
                    <a id = "blue" href="http://localhost:3030/posts/<%= post.id %>">See in detail</a>
                </div>
                <% } %>
        </div>

    </div>

</body>

</html>